<html lang='en'>
  {{> baseHead}}
  <body>
    {{> siteHeader }}
    <div>
      <h2>Hello Free WebBoard</h2>
      <p>I have something to tell/ask you...</p>
      {{#each allTopics}}
        <div style="background-color: rgb(238, 201, 201)">
          <h4><a href="/t/{{this.id}}">{{this.title}}</a></h4>
          <p>
            <span>{{this.from}} | </span>
            <span>{{this.createdAtText}}</span>
          </p>
          {{#if this.commentsCount}}
            <p>{{this.commentsCount}} comment(s)</p>
          {{else}}
            <p>No comment yet</p>
          {{/if}}
        </div>
      {{/each}}
    </div>
    {{> siteFooter}}
  </body>
</html>