<html lang='en'>
  {{> baseHead}}
  <body>
    {{> siteHeader }}
    <section class="section">
      <div class="container">
      <h2>Hello Free WebBoard</h2>
      <p class="mg-bt-large">Tell me your story or ask people some questions</p>
      {{#each allTopics}}
        <div class="box">
          <h4><a href="/t/{{this.id}}">{{this.title}}</a></h4>
          <p>
            <span>From <b>{{this.from}}</b> | </span>
            <span class="text-gray">{{this.createdAtText}}</span>
          </p>
          {{#if this.commentsCount}}
            <div>{{this.commentsCount}} comment(s)</div>
          {{else}}
            <div>No comment yet</div>
          {{/if}}
        </div>
      {{/each}}
    </div>
    </section>
    {{> siteFooter}}
    {{> siteScrollTop}}
    {{> siteScripts}}
  </body>
</html>